/* Logo style */
#logo{
    width: 50px;
}
.myColor{
    color: #c07b31;
}
.myOutlineButton{
	color: #c07b31;
  	border-color: #c07b31;
}

.myOutlineButton:hover{
	background-color: #c07b31;
 	border-color: #c07b31;
}

.myButton{
	color: white;
	background-color: #c07b31;
}
.myButton:hover{
	background-color: #9b6327;
	color: white;
}